body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
  font-family: "Black Han Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.line {
  opacity: 0;
  transition: opacity 1s ease-in;
  font-size: 30px;
  margin: 20px;
}

.visible {
  opacity: 1;
}

#buttons button {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#buttons button:hover {
  background-color: #27ae60;
}