@font-face {
  font-family: 'PixelFont';
  src: url('../assets/Ramche.otf') format('opentype');
}

body {
  font-family: 'PixelFont', monospace;
  background: url('../assets/background_quiz.png') no-repeat center center fixed;
  background-size: cover;
  color: #222;
  text-align: center;
}

#quiz-question{
    margin-top: 330px;
}

section {
    margin: 20px 0;
}

button {
    display: inline-block;
    font-family: 'PixelFont';
    font-size: 14px;
    padding: 12px 24px;
    margin: 10px;
    color: #222;
    border: 2px solid #222;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    image-rendering: pixelated;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: translateY(-4px);
    background-color: #939393;
}

#quiz-options button {
    display: block; 
    width: 300px;
    margin: 0 auto 10px auto;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#quiz-options {
    width: 80%;
    margin: 20px auto;
    padding: 0 20px;
}

#quiz-result p {
    font-size: 16px;
    color: #222;
}

button.correct {
    background-color: #33cc33;
    border-color: #66ff66;
}

button.wrong {
    background-color: #cc3333;
    border-color: #ff6666;
}
